# hal_wifi_default
allow hal_wifi_default wifi_efs_file:dir search;
allow hal_wifi_default wifi_efs_file:file { open read };
allow hal_wifi_default sysfs_wifi_writable:file write;
